
Data Structures

Mostly used Data structures are as follows with their properties:

In [ ]:
"""List:
Ordered 
changeable
Duplicates allowed"""

In [ ]:
"""Tuple:
Ordered 
Unchangeable
Duplicates allowed"""

In [ ]:
"""Set:
Unordered 
addable/removeable
No Duplicates allowed"""

In [ ]:
"""Dictionary:
Unordered 
Changeable
No Duplicates allowed"""

Declaration

In [3]:
L=[1,3,4,4.9,'name']
T=(1,2,3,3.4,'name',4)
S={1,3,4.9,'name',3}
D={23:"KEY1","name":"Key2","address":3}

In [5]:
print("The type of L is ",type(L))
print("The type of T is ",type(T))
print("The type of S is ",type(S))
print("The type of D is ",type(D))

The type of L is  <class 'list'>
The type of T is  <class 'tuple'>
The type of S is  <class 'set'>
The type of D is  <class 'dict'>

Accessing Elements in these Data Structures

In [10]:
print(L[1])
print(T[0])
print(3 in S)#check whether 3 is in Set 
print(D[23])

3
1
True
KEY1

In [16]:
#Accessing sublist ,subset etc.

#List or tuple name(start:end:steps to move(1 is default))
#end is not included in the sublist or subtuple
L[2:4]

[4, 4.9]

In [14]:
T[::-1]#reversing it

(4, 'name', 3.4, 3, 2, 1)

Adding or appending elements

In [17]:
L=L+[1,2,"tree"]
print(L)

[1, 3, 4, 4.9, 'name', 1, 2, 'tree']

In [18]:
#Cant append or make changes in tuple bcz its is immutable

#however we can do that,like 

t2=(1,2,3,4)
t3=T+t2

print(t3)

(1, 2, 3, 3.4, 'name', 4, 1, 2, 3, 4)

In [19]:
S.add("hello")

print(S)

{'name', 1, 3, 4.9, 'hello'}

In [20]:
#if you want multiple items to add then use update 

S.update({'tree','black',3})

print(S)

{'name', 1, 3, 4.9, 'hello', 'black', 'tree'}

In [21]:
D['newkey']='newvalue'

print(D)

{23: 'KEY1', 'name': 'Key2', 'address': 3, 'newkey': 'newvalue'}

In [24]:
D[23]='hello'
print(D)

{23: 'hello', 'name': 'Key2', 'address': 3, 'newkey': 'newvalue'}


Removing elements

In [26]:
print(L)
del L[4]

print(L)

[1, 3, 4, 4.9, 'name', 1, 2, 'tree']
[1, 3, 4, 4.9, 1, 2, 'tree']

In [27]:
print(S)
S.remove("black")

print(S)

{'name', 1, 3, 4.9, 'hello', 'black', 'tree'}
{'name', 1, 3, 4.9, 'hello', 'tree'}

In [28]:
print(D)
del D['newkey']

print(D)

{23: 'hello', 'name': 'Key2', 'address': 3, 'newkey': 'newvalue'}
{23: 'hello', 'name': 'Key2', 'address': 3}

D2=D
del D['name']
print(D2)

In [1]:
# + operator doesn't work on dictionary we use update to add a dictionary to other

In [3]:
D={"greeting":"hello","tree":"black"}
print(D)
D2={"greeting2":"hey","key ":"val"}
D.update(D2)
print(D)

{'greeting': 'hello', 'tree': 'black'}
{'greeting': 'hello', 'tree': 'black', 'greeting2': 'hey', 'key ': 'val'}

How to copy one data structures into another

In [5]:
# Except tuple , all the data structures use copy() function for copying as shown below

D2=D.copy()
S2=S.copy()
L2=L.copy()

#For tuple simple is as 

T2=T

#BUt here a question rises why we don't do for other as well like we do for tuple 

"The answer is when you do like L2=L Or for set or dict. it passed by reference and when you change value in one ,the value in other will also change too ,so that's why we use copy() function "

#but why for tuple its bcz tuple is immutable so value can't change in both 


Note:
    When we do slicing for a list the new list formed has a new memory location while inn numpy array the array which is sliced is passed by reference we will discuss it in numpy chapter.




You can use other data structures to be stored in one data structure

In [6]:
# as like 
L=[1,3,3,4,5]
T=[1,3,2,4,5]
S={1,2,'name'}
D2={"a":L,'b':S}

In [8]:
print(D2["a"])

[1, 3, 3, 4, 5]

In [14]:
print(D2['b'])

{'name', 2, 1}

In [15]:
L=[T,S,D2]

In [16]:
L[0]

[1, 3, 2, 4, 5]

In [17]:
L[2]

{'a': [1, 3, 3, 4, 5], 'b': {1, 2, 'name'}}

In [21]:
L3=[x**2 for x in range(10)]
print(L3)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
"""
On next chapter we have solved a small problem of marks but that can help alot about using the right
data structure in problem solving 
"""